@using Microsoft.AspNetCore.Identity
@using AutoPartsAP1.Data

@inject SignInManager<ApplicationUser> SignInManager


<div class="card shadow-sm border-0 rounded-4">
	<div class="card-body px-3 py-4">
		<ul class="nav flex-column p-3 bg-white shadow rounded-4 border">
			<li class="nav-item mb-2">
				<NavLink class="nav-link d-flex align-items-center gap-2 p-3 rounded-pill text-dark fw-semibold"
						 activeClass="active-nav" href="Account/Manage" Match="NavLinkMatch.All">
					<i class="bi bi-person-circle fs-5"></i> Perfil
				</NavLink>
			</li>
			<li class="nav-item mb-2">
				<NavLink class="nav-link d-flex align-items-center gap-2 p-3 rounded-pill text-dark fw-semibold"
						 activeClass="active-nav" href="Account/Manage/Email">
					<i class="bi bi-envelope-fill fs-5"></i> Correo electrónico
				</NavLink>
			</li>
			<li class="nav-item mb-2">
				<NavLink class="nav-link d-flex align-items-center gap-2 p-3 rounded-pill text-dark fw-semibold"
						 activeClass="active-nav" href="Account/Manage/ChangePassword">
					<i class="bi bi-shield-lock-fill fs-5"></i> Contraseña
				</NavLink>
			</li>
			@if (hasExternalLogins)
			{
				<li class="nav-item mb-2">
					<NavLink class="nav-link d-flex align-items-center gap-2 p-3 rounded-pill text-dark fw-semibold"
							 activeClass="active-nav" href="Account/Manage/ExternalLogins">
						<i class="bi bi-box-arrow-in-right fs-5"></i> Inicios externos
					</NavLink>
				</li>
			}
			<li class="nav-item mb-2">
				<NavLink class="nav-link d-flex align-items-center gap-2 p-3 rounded-pill text-dark fw-semibold"
						 activeClass="active-nav" href="Account/Manage/TwoFactorAuthentication">
					<i class="bi bi-shield-lock fs-5"></i> Autenticación 2FA
				</NavLink>
			</li>
			<li class="nav-item mb-2">
				<NavLink class="nav-link d-flex align-items-center gap-2 p-3 rounded-pill text-dark fw-semibold"
						 activeClass="active-nav" href="Account/Manage/PersonalData">
					<i class="bi bi-folder-lock fs-5"></i> Datos personales
				</NavLink>
			</li>
		</ul>
	</div>
</div>

@code {
	private bool hasExternalLogins;

	protected override async Task OnInitializedAsync()
	{
		hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
	}
}
