@page "/Piezas/Index"
@inject ProductoService productoservice
@using System.Globalization
@using AutoPartsAP1.Components.Models; 

<PageTitle>Tienda de Piezas AutoParts</PageTitle>


<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-purple px-3">
        <a class="navbar-brand fw-bold text-white" href="#">AutoParts</a>
        <div class="carousel-item">
            <img src="C:\Aplicada1\ProyectoTienda\ProyectoTienda\wwwroot\images\productos\Auto Parts ícono.png" class="d-block w-100" alt="Banner 3">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler     -icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link text-white" href="#">Supermercado</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Electrodomésticos</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Ofertas</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Recetas</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Mi Cuenta</a></li>
            </ul>
        </div>
    </nav>

    <div class="container my-4">
        <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.elyaquemotors.com/wp-content/uploads/2018/08/shutterstock_231397615.jpg" class="d-block w-100" alt="Banner 1">
                </div>
                <div class="carousel-item">
                    <img src="https://es.123rf.com/photo_18560953_muchas-partes-de-autom%C3%B3viles-hechos-en-3d.html" class="d-block w-100" alt="Banner 2">
                </div>
                <div class="carousel-item">
                    <img src="https://es.dreamstime.com/piezas-del-collage-para-el-auto-image118175230" class="d-block w-100" alt="Banner 3">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>


    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">Ofertas destacadas</h2>
            <div class="row g-4">
                @foreach (var producto in ListaProductos)
                {
                    <div class="col-6 col-md-3">
                        <div class="card h-100">
                            @if (producto.ProductoImagen != null)
                            {
                                <img src="data:image/png;base64,@Convert.ToBase64String(producto.ProductoImagen)" class="card-img-top" />
                            }
                            else
                            {
                                <div class="d-flex justify-content-center align-items-center" style="height: 180px; background-color: #f8f9fa;">
                                    <i class="bi bi-image fs-1 text-muted"></i>
                                </div>
                            }

                            <div class="card-body">
                                <h5 class="card-title">@producto.ProductoNombre</h5>
                                <p class="card-text">
                                    <strong>RD$@producto.ProductoMonto.ToString("N2", CultureInfo.GetCultureInfo("es-DO"))</strong>
                                    <br />
                                    <small class="text-muted">@producto.ProductoDescripcion</small>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="mt-4 text-end">
                <a href="#" class="btn btn-outline-primary">Ver todas las ofertas</a>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-4">Categorías destacadas</h2>
            <div class="d-flex gap-3 overflow-auto">
                @foreach (var cat in categorias)
                {
                    <div class="card text-center p-3" style="min-width: 150px;">
                        <strong>@cat</strong>
                    </div>
                }
            </div>
        </div>
    </section>

    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row text-center text-md-start">
                <div class="col-md-4 mb-3">
                    <h5>Ayuda</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="#">Preguntas frecuentes</a></li>
                        <li><a class="text-white" href="#">Contáctanos</a></li>
                        <li><a class="text-white" href="#">Envíos y entregas</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>PartExpress</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="#">Nosotros</a></li>
                        <li><a class="text-white" href="#">Sucursales</a></li>
                        <li><a class="text-white" href="#">Términos & Privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Síguenos</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="#">Facebook</a></li>
                        <li><a class="text-white" href="#">Instagram</a></li>
                        <li><a class="text-white" href="#">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-3">© 2025 PartExpress República Dominicana</div>
        </div>
    </footer>
</div>

@code {
    public List<Productos> ListaProductos { get; set; } = new List<Productos>();

    List<string> categorias = new()
    {
        "BBQ", "Hogar", "Electro", "Viaje", "Salud", "Biológicos"
    };

    protected override async Task OnInitializedAsync()
    {
        ListaProductos = await productoservice.Listar(c => c.ProductoId > 0);
    }
}